---
name: Test

on: [pull_request]

jobs:
  test:
    name: Test

    runs-on: ubuntu-latest

    steps:
      - name: Checkout files
        uses: actions/checkout@v5

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.30.0

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml

      - name: Set up environment
        run: cp ./.env.example .env

      - name: Install Node packages
        run: pnpm install

      - name: Build
        run: pnpm run build

      - name: Svelte check
        run: pnpm run check

      - name: Lint (prettier & eslint)
        run: pnpm run lint
